<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">

        <title>{% block title 'Meetings'%}</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <!-- Custom styles for this template -->
        <link href="{{ asset('bundles/sensiolabsmeeting/css/layout.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="http://connect.sensiolabs.com/css/sln.css" />

        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script>
            (function(w, d, s) {
            function go() {
            var js, fjs = d.getElementsByTagName(s)[0], load = function(url, id) {
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.src = url; js.id = id;
            fjs.parentNode.insertBefore(js, fjs);
            };
            load('https://connect.sensiolabs.com/sln.js?customize_url={{ url('sln_customize') }}', 'sln_bar');
            }
            if (w.addEventListener) { w.addEventListener("load", go, false); }
            else if (w.attachEvent) { w.attachEvent("onload",go); }
            } (window, document, 'script'));
            (function () {
            var s = document.createElement('link');
            s.rel = 'stylesheet';
            s.href = 'https://connect.sensiolabs.com/css/sln.css';
            var x = document.getElementsByTagName('title')[0];
            x.parentNode.insertBefore(s, x);
            })();
        </script>
    </head>

    <body>
        <div id="sln"></div>
        <div class="site-wrapper">

            <div class="site-wrapper-inner">
                <div class="cover-container">

                    {% block menu %}
                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand">Meetings</h3>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="#">Request a one-to-one meeting</a></li>
                                <li><a href="#">Create a subject</a></li>
                                <li><a href="#">Join an "Open-Space" discussion</a></li>
                            </ul>
                        </div>
                    </div>
                    {% endblock %}

                    <div class="inner cover">
                        {% block body '' %}
                    </div>

                    <div class="mastfoot">
                        <div class="inner">
                            <p>
                                {% block footer '' %}
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="{{ asset('bundles/sensiolabsmeeting/js/docs.min.js') }}"></script>
    </body>
</html>
