<div class="masthead clearfix">
    <div class="inner">
        <h3 class="masthead-brand">Cover</h3>
        <ul class="nav masthead-nav">
            <li class="active"><a href="#">home</a></li>
            <li><a href="#">Request a one-to-one meeting</a></li>
            <li><a href="#">Create a subject</a></li>
        </ul>
    </div>
</div>
